.signup-modal {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow-y: auto;
  max-height: 100vh;
}

.signup-section {
  background: #ffffff;
  width: 1040px;
  height: 1190px;
  display: flex;
  margin: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.35s;
  border: 1px solid #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.signup-section-upper {
  width: 1040px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 40px;
}

.signup-section-text {
  font-weight: 600;
  font-size: 32px;
  position: relative;
  right: 310px;
}

.form-entry-wrapper {
  position: relative;
  right: 140px;
}

.signup-divider {
  margin-top: 40px;
  width: 90%;
  background: #d0cde1;
}

.signup-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 53px;
}

.signup-btn {
  background: #7c639f;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 175px;
  height: 60px;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin: 20px;
  transition: 0.35s ease-in-out;
}

.signup-btn.close {
  background: #eeeded;
  color: #000;
}

.signup-btn:hover {
  box-shadow: 0 20px 30px -11px rgb(31 35 65 / 37%);
  transform: translate(0px, -5px);
}

@media screen and (max-width: 500px) {
  .signup-section {
    width: 90%;
    height: 150%;
  }

  .signup-section-text {
    position: relative;
    left: 0px;
    font-size: 20px;
    top: 30px;
  }

  .signup-section-upper {
    width: 70%;
  }

  .signup-btn {
    height: 35px;
    font-size: 14px;
    width: 120px;
  }
}
