.footer {
  width: 100%;
  margin-top: 72px;
  height: 100px;
  background: #3f3d56;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
}

@media screen and (max-width: 500px) {
  .footer-text {
    font-size: 12px;
  }

  .footer-img {
    height: 15px;
  }
}
