.form-entry-icon-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.form-entry-icon {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.form-entry-icon-name {
  font-weight: 600;
  font-size: 24px;
}

.form-entry-input {
  outline: none;
  width: 600px;
  height: 50px;
  padding: 6px 12px;
  border: 1px solid #d0cde1;
  border-radius: 10px;
  margin-bottom: 30px;
  transition: 0.35s;
  font-size: 20px;
}

.form-entry-input:focus {
  border: 1px solid #7c639f;
}

@media screen and (max-width: 500px) {
  .form-entry-input {
    width: 250px;
    height: 40px;
    position: relative;
    left: 135px;
  }

  .form-entry-icon-wrapper {
    margin-bottom: 5px;
    position: relative;
    left: 140px;
    margin: 5px;
  }

  .form-entry-icon-name {
    font-size: 13px;
  }

  .form-entry-icon {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
