.git-repo-heading {
  color: #3f3d56;
  font-size: 56px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width: 500px) {
  .git-repo-heading {
    font-size: 28px;
  }

  .git-repo-list-wrapper {
    width: 100%;
  }
}
