.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-upper {
  background: #2f2e41;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header-text {
  color: #ffffff;
  font-weight: 600;
  font-size: 92px;
  margin: 40px;
  margin-left: 80px;
  letter-spacing: 2px;
}

.header-image {
  margin: 70px;
}

.header-lower {
  color: #3f3d56;
  font-size: 55px;
  font-weight: 600;
  margin-top: 70px;
  margin-bottom: 70px;
}

.header-divider {
  width: 90%;
  height: 2px;
  color: #d0cde1;
}

@media screen and (max-width: 500px) {
  .header {
    width: 100%;
  }

  .header-upper {
    flex-direction: column-reverse;
  }
  .header-text {
    font-size: 35px;
    width: 300px;
  }
  .header-image {
    height: 100px;
  }

  .image {
    height: 150px;
    width: 190px;
  }

  .header-lower {
    font-size: 30px;
  }
}

@media screen and (min-width: 501px) and (max-width: 1210px) {
}
