.navbar-section {
  background: #2f2e41;
  width: 100%;
  color: #ffffff;
  display: flex;
  height: 100px;
  justify-content: space-between;
}

.navbar-left-section,
.navbar-right-section {
  font-size: 26px;
  font-weight: 600;
  cursor: pointer;
  margin: 34px;
}
