.other-links {
  display: flex;
  color: #3f3d56;
  font-size: 17px;
  font-weight: 600;
  margin-left: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.other-links-img {
  margin-right: 10px;
}
