.other-links {
  display: flex;
  color: #3f3d56;
  font-size: 17px;
  font-weight: 600;
  margin-left: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.other-links-img {
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  .other-links {
    font-size: 10px;
    margin-left: 20px;
  }

  .other-links-img {
    height: 12px;
    width: 12px;
    margin-right: 4px;
  }
}
